/wp-admin/
/wp-includes/
/wp-blog-header.php
/wp-login.php
/wp-settings.php
/wp-activate.php
/wp-comments-post.php
/wp-load.php
/wp-trackback.php
/xmlrpc.php
/.htaccess
/wp-config.php
/wp-mail.php
/wp-cron.php
/index.php
/license.txt
/wp-signup.php
/readme.html
/wp-links-opml.php
/wp-config-sample.php
/wp-content/languages/
/wp-content/uploads/
/wp-content/upgrade/
/wp-content/themes/storefront/
/wp-content/plugins/woocommerce/
/wp-content/plugins/woocommerce-gateway-paypal-express-checkout/
/wp-content/plugins/woocommerce-gateway-stripe/
/wp-content/plugins/loco-translate/
/wp-content/plugins/index.php
/wp-content/plugins/media-library-plus/
/wp-content/plugins/simply-show-hooks/
/wp-content/plugins/jetpack/
/wp-content/plugins/woo-product-remover/
/wp-content/plugins/akismet/